body {

    margin: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}



#Psp {
    height: 37vh;
    width: 44vw;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr;

}

#LeftSide {


    background-color: rgb(96, 223, 255);
    border-bottom-left-radius: 70px;
    border-top-left-radius: 70px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 4fr 1fr 1fr;
    box-shadow: 7px 13px 8px #888888;
    
    transition: all 0.16s ease-in;
}

#LeftSide:hover{
  transform: translate(0, -7vh);
}

#MinusButtonT {
    display: flex;
    align-items: flex-end;
    grid-column: 3/4;
    grid-row: 1/2;
    border: 1px rgb(172, 172, 172)
}

#MinusButton {
    background-color: black;
    border: 1px solid black;
    border-radius: 3px;
    width: 1.3vw;
    height: 0.95vh;
    border: 1px rgb(172, 172, 172) solid;

}

#JoyStickLeft {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    grid-column: 2/3;
    grid-row: 2/3;

}

#JoyStickBorderOutLeft {
    width: 2.6vw;
    height: 5.31vh;

    background-color: rgb(0, 0, 0);
    border: 1px rgb(172, 172, 172) solid;
    border-radius: 50%;
    box-shadow: 3px 5px 8px #85858534;

}

#JoyStickBorderInLeft {
    width: 2.08vw;
    height: 4.25vh;
    background-color: black;
    border: 1px rgb(255, 255, 255) solid;
    border-radius: 50%;
    position: fixed;
    margin: 0 0 0.56vh 0;

}

#MainButtonsL {
    grid-column: 2/3;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 0.31vw;


}

#UpButtonLOut {
    grid-column: 2/3;
    grid-row: 3/4;
    background-color: rgb(129, 129, 129);
    border: 1px rgb(0, 0, 0) solid;
    border-radius: 50%;
    width: 1vw;
    height: 2vh;


}

#RightButtonLOut {
    grid-column: 3/4;
    grid-row: 4/5;
    background-color: rgb(129, 129, 129);
    border: 1px rgb(0, 0, 0) solid;
    border-radius: 50%;
    width: 1vw;
    height: 2vh;
}

#DownButtonLOut {
    grid-column: 2/3;
    grid-row: 5/6;
    background-color: rgb(129, 129, 129);
    border: 1px rgb(0, 0, 0) solid;
    border-radius: 50%;
    width: 1vw;
    height: 2vh;

}

#LeftButtonLOut {
    grid-column: 1/2;
    grid-row: 4/5;
    background-color: rgb(129, 129, 129);
    border: 1px rgb(0, 0, 0) solid;
    border-radius: 50%;
    width: 1vw;
    height: 2vh;
}

#UpButtonLIn {
    grid-column: 2/3;
    grid-row: 3/4;
    border-bottom: 0.4vw solid #000000;
    border-left: 0.8vh solid transparent;
    border-right: 0.8vh solid transparent;
    width: 0vw;
    height: 0;
    margin: 0 0 0.17vh 0.16vw;
}

#RightButtonLIn {
    grid-column: 3/4;
    grid-row: 4/5;
    border-left: .8vh solid #000000;
    border-top: 0.4vw solid transparent;
    border-bottom: 0.4vw solid transparent;
    width: 0.25vw;
    height: 0;
    margin: 0 0 0 0.45vw;
}


#DownButtonLIn {

    grid-column: 2/3;
    grid-row: 5/6;
    border-top: 0.4vw solid #000000;
    border-left: 0.8vh solid transparent;
    border-right: 0.8vh solid transparent;
    width: 0vw;
    height: 0;
    margin: 0.16vw 0 0 0.16vw;
}


#LeftButtonLIn {
    grid-column: 1/2;
    grid-row: 4/5;
    border-right: .8vh solid #000000;
    border-top: 0.4vw solid transparent;
    border-bottom: 0.4vw solid transparent;
    width: 0.25vw;
    height: 0;
}



#MidSide {
    background-color: rgb(0, 0, 0);
    border: 4px rgb(161, 161, 161) solid;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 7px 13px 8px #888888;
}

#Screen {
    background-color: rgb(255, 255, 255);
    height: 90%;
    width: 88%
}

#RightSide {
    background-color: rgb(247, 30, 30);
    border-top-right-radius: 70px;
    border-bottom-right-radius: 70px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 3fr 2fr 1fr 1fr;
    box-shadow: 7px 13px 8px #888888;
    transition: all 0.16s ease-in;
}
#RightSide:hover{
    transform: translate(0, -7vh);
  }

#PlusButtonT {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 1rem 0 0 8px;
}

#PlusButtonH {
    background-color: black;
    border-radius: 3px;
    width: 1.3vw;
    height: 0.95vh;
    margin: 0;
    


}

#PlusButtonV {
    background-color: black;
    border-radius: 3px;
    height: 2.65vh;
    width: 0.47vw;
    position: fixed;
    

}

#MainButtonsR {
    grid-column: 2/3;
    grid-row: 2/3;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 0.31vw;

}

#UpButtonROut {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: rgb(129, 129, 129);
    border: 1px rgb(0, 0, 0) solid;
    border-radius: 50%;
    width: 1vw;
    height: 2vh;

}

#RightButtonROut {

    grid-column: 3/4;
    grid-row: 3/4;
    background-color: rgb(129, 129, 129);
    border: 1px rgb(0, 0, 0) solid;
    border-radius: 50%;
    width: 1vw;
    height: 2vh;
}

#DownButtonROut {
    grid-column: 2/3;
    grid-row: 4/5;
    background-color: rgb(129, 129, 129);
    border: 1px rgb(0, 0, 0) solid;
    border-radius: 50%;
    width: 1vw;
    height: 2vh;

}

#LeftButtonROut {

    grid-column: 1/2;
    grid-row: 3/4;
    background-color: rgb(129, 129, 129);
    border: 1px rgb(0, 0, 0) solid;
    border-radius: 50%;
    width: 1vw;
    height: 2vh;
}

#UpButtonRIn {
    color: white;
    grid-column: 2/3;
    grid-row: 2/3;
    width: 0vw;
    height: 0;
    display: flex;
    align-items: center;
    margin:0.11vh 0 0 0.23vw;
}

#RightButtonRIn {
    color: white;
    grid-column: 3/4;
    grid-row: 3/4;
    width: 0.25vw;
    height: 0;
    display: flex;
    align-items: center;
    margin: 0 0 0 0.27vw;
}


#DownButtonRIn {
    color: white;
    grid-column: 2/3;
    grid-row: 4/5;
    width: 0vw;
    height: 0;
    display: flex;
    align-items: center;
    margin: 0.1vw 0 0 0.27vw;
}


#LeftButtonRIn {
    color: white;
    grid-column: 1/2;
    grid-row: 3/4;
    width: 0.25vw;
    height: 0;
    display: flex;
    align-items: center;
    margin: 0.11vh 0 0 0.24vw;
}


#JoyStickRight {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2/3;
    grid-row: 3/4;
    

}

#JoyStickBorderOutRight {
    width: 2.6vw;
    height: 5.31vh;
    background-color: rgb(0, 0, 0);
    border: 1px rgb(172, 172, 172) solid;
    border-radius: 50%;
    box-shadow: 3px 5px 8px #85858534;

}

#JoyStickBorderInRight {
    width: 2.08vw;
    height: 4.25vh;
    background-color: black;
    border: 1px rgb(255, 255, 255) solid;
    border-radius: 50%;
    position: fixed;
    margin: 0 0 0 0;

}